@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");



section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.all-data {
  display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    padding-top: 2rem;
    margin-inline: auto;
    gap: 2rem;
    flex-wrap: wrap;
}



.maktab-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 350px;
    padding-top: 2rem;
    margin-inline: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-duration: 0.75s;
    margin-top: 1.5rem;
}

@keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
.maktab-data img{
    max-width: 100%;
    height: auto;
    width: 25%;
}

.maktab-data button{
    width: 100%;
    border: none;
    background-color: green;
    color: white;
    padding: 0.75rem;
    margin: 0;
    width: 100%!important;
    font-size: 1.25rem;
    cursor: pointer;
}

.maktab-data p {
   text-align: center;
   padding: 0 1rem;
   font-size: 1rem;
   font-weight: 500;
   font-family: "Poppins", sans-serif;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
}

a{
  text-decoration: none;
  color: white;

}


li {
  list-style-type: none;
}

.all-data {
    display: none;
  }
  